In [1]:
import pandas as pd

## PROBLEM 1

#### fetching data from the website and creating the dataframe

In [3]:
d=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=pd.DataFrame(data=d[0])
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
print(df.shape)
df.describe()

(287, 3)

       Postcode       Borough  Neighborhood
count       287           287           287
unique      180            12           208
top         M9V  Not assigned  Not assigned
freq          8            77            78

In [5]:

count=0
for index, row in df.iterrows():
    if row['Borough'] == 'Not assigned':
        count=count+1
print('There are {} records that needs to be deleted'.format(count))

There are 77 records that needs to be deleted

In [6]:
df=df[df.Borough != 'Not assigned']
df.shape

(210, 3)

In [7]:
df.loc[df['Neighborhood'] == 'Not assigned', ['Neighborhood']] =df['Borough']

In [8]:
df.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

#### Grouping neighnourhood based on postcode and Borough

In [9]:
aggregate_df = df.groupby(['Postcode','Borough'], sort=False).agg( ', '.join)
aggregate_df.head(10)

                                               Neighborhood
Postcode Borough
M3A      North York                               Parkwoods
M4A      North York                        Victoria Village
M5A      Downtown Toronto                      Harbourfront
M6A      North York        Lawrence Heights, Lawrence Manor
M7A      Downtown Toronto                      Queen's Park
M9A      Queen's Park                          Queen's Park
M1B      Scarborough                         Rouge, Malvern
M3B      North York                         Don Mills North
M4B      East York          Woodbine Gardens, Parkview Hill
M5B      Downtown Toronto          Ryerson, Garden District

#### We can see above that the Neighborhood is aggregated for Postcode M6A and M1B

#### Printing the shape of the finalized dataframe

In [10]:
aggregate_df=aggregate_df.reset_index()
aggregate_df.shape

(103, 3)

## PROBLEM 2

#### Importing the csv which has latitute and longitute

In [11]:
df= pd.read_csv('https://cocl.us/Geospatial_data')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Creating new dataframe which contains 5 columns ( PostCode, Borough, Neighborhood, Latitude, Longitute )

In [12]:
df_new = pd.merge(left=aggregate_df,right=df, left_on='Postcode', right_on='Postal Code')
df_new.drop(['Postal Code'], axis=1, inplace=True)
df_new.shape

(103, 5)

In [16]:
df_new.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
5,M9A,Queen's Park,Queen's Park,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937